.Gallery {
  background: #ececec;
  padding: 110px 0;
  margin-top: 0px;
  border-radius: 15px;
}

.Gallery_text .titlepage {
  padding-bottom: 20px;
  text-align: right;
}
.Gallery_text p {
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  text-align: right;
  color: #181716;
}
.Gallery_text a {
  font-size: 16px;
  border: #000 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 9px 0px;
  max-width: 171px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  margin-top: 53px;
}

.margi_bott {
  margin-bottom: 20px;
}
.Gallery_img {
  position: relative;
}
.Gallery_img figure {
  margin: 0;
}
.Gallery_img figure img {
  width: 100%;
}

.categories-head-wrapper {
  padding: 30px;
}

.categories-title {
  font-size: 36px;
  color: white;
  text-align: center;
}
