.product-card {
  margin: 15px;
  border-radius: 20px;
  border: 1px solid gray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-info-box,
.product-info-box h3 {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
}

.hover_box:hover {
  opacity: 1;
  transition: ease-in all 0.5s;
}
.Gallery_text a:hover {
  background-color: #0ed1f0;
  border: #0ed1f0 solid 1px;
  color: #fff;
}
ul.icon_hu {
  text-align: center;
}
ul.icon_hu h3 {
  color: #fff;
  font-size: 26px;
  padding: 0;
  font-weight: 500;
}
ul.icon_hu li {
  padding: 10px 3px;
  display: inline-block;
}

.row {
  justify-content: center;
}

.products-title {
  font-size: 3em;
  text-align: center;
  padding: 30px 0 20px 0;
}

.hover_box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 85%;
  box-sizing: border-box;
  float: left;
  height: 75%;
  align-items: center;
  opacity: 0;
  transition: ease-in all 0.5s;
}

.details-button {
  padding: 20px;
  border-radius: 20px;
  background: rgb(239, 239, 239);
  color: #000 !important;
}

.category-delete-button {
  display: block !important;
  margin: 20px auto;
}