.shopping-cart-title {
    margin-top: 15px;
}

.shopping-card-wrapper {
    padding: 0;
}

.buttons-wrapper {
    text-align: right;
    margin: 25px;
}

.buttons-wrapper button {
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 8px 16px;
}

.buttons-wrapper button a {
    color: white;
}

.no-items-added-text {
    padding-top: 25px;
}