.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 0;
  margin-top: 90px;
}

.display_boxflex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .about-box {
  text-align: left;
}
.about .about-box h2 {
  padding: 0;
  color: #020d0f;
  line-height: 70px;
  font-size: 70px;
}
.about .about-box p {
  font-size: 17px;
  line-height: 28px;
  color: #000;
  padding: 35px 0px;
}

.about .about-box a {
  font-size: 16px;
  border: #000 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 9px 0px;
  max-width: 171px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
}

.about .about-box a:hover {
  background-color: #0ed1f0;
  border: #0ed1f0 solid 1px;
  color: #fff;
}
.about .about-box figure {
  margin: 0;
}
.about .about-box figure img {
  width: 100%;
}
