.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 0;
}

.display_boxflex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .about-box {
  text-align: left;
}

.about .about-box h2 {
  padding: 0;
  color: white;
  line-height: 70px;
  font-size: 70px;
}

.about .about-box p {
  font-size: 17px;
  line-height: 28px;
  color: white;
  padding: 35px 0px;
}

.about .about-box a {
  font-size: 16px;
  border: #000 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 9px 0px;
  max-width: 171px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
}

.about .about-box a:hover {
  background-color: #0ed1f0;
  border: #0ed1f0 solid 1px;
  color: #fff;
}
.about .about-box figure {
  margin: 0;
}
.about .about-box figure img {
  width: 100%;
}

.about-us-text {
  text-align: justify;
  padding-bottom: 0 !important;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.image-figure {
  margin-top: 60px !important;
}

.image-figure img {
  border-radius: 20px;
}

.toggle-button-about {
  margin-top: 35px;
}

.collapsible {
  visibility: visible !important;
  opacity: 1;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
